//@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400i,700);

@font-face {
  font-family:BrownStd;
  src:url(~/assets/fonts/BrownStd-Regular.woff2) format('woff2');
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:BrownStd;
  src:url(~/assets/fonts/BrownStd-Bold.woff2) format('woff2');
  font-weight:700;
  font-style:normal;
}


// add your fonts above
